@import 'variables.scss';
@import '../../includes/ChurchPlugins/assets/scss/vars';
@import '../../includes/ChurchPlugins/assets/scss/main.scss';
@import '../../includes/ChurchPlugins/assets/scss/elements/button';

.cp-staff-pg-template {
	flex-grow: 1; // in case inside of a flex container

	* {
		box-sizing: border-box;
	}
}

.cp-staff {
	&--has-email {
		.fl-photo {
			a {
				display: block;
				position: relative;

				&:after {
					width: var(--cp-gap--lg);
					color: var(--cp-color-text-inverted);
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-mail'%3E%3Cpath d='M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z'%3E%3C/path%3E%3Cpolyline points='22 6 12 13 2 6'%3E%3C/polyline%3E%3C/svg%3E");
					background: var(--cp-color-ui-secondary);
					border-radius: 100px;
					position: absolute;
					bottom: var(--cp-gap--sm);
					left: var(--cp-gap--sm);
					padding: var(--cp-gap--sm);
				}
			}
		}
		
	}
}

.ui-widget-overlay {
	background-color: var(--cp-color-canvas-inverted);
	opacity: .5;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.cp-staff--input-wrapper {
	display: block;
	position: relative;
}

.cp-staff--email-modal-popup {
	border-radius: 4px;
	padding: var(--cp-gap--md);
	padding-top: var(--cp-gap--lg);
	z-index: 9999;
	max-width: calc( 100vw - var(--cp-gap--lg) );
	max-height: calc( 100vh - var(--cp-gap--lg) );
	overflow: auto;
	//max-width: 60%;
	background: #f5f5fa;

	* {
		box-sizing: border-box;
	}
	
	.notice-wrap {
		
		p:last-child {
			margin-bottom: 0;
		}
		
		.update {
			margin-top: var(--cp-gap--sm);
			background: var(--cp-color-canvas-main);
			padding: var(--cp-gap-base) var(--cp-gap--sm);
			border-left: .25rem solid var(--cp-color-ui-info);

			&.success {
				border-color: var(--cp-color-ui-success);
			}
			
			&.error {
				border-color: var(--cp-color-ui-danger);
			}
		}
		
	}
	.cp-staff-email-modal {}
	
	.cp-staff-email-form--email-to {
		position: relative;
	}

	.cp-staff-email-form--email-verify {
		height: 0 !important;
		overflow: hidden !important;
		margin: 0 !important;
	}
	
	.staff-copy-email {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: var(--cp-gap-base);
		bottom: 0;
		cursor: pointer;
		
		&.is-copied {
			color: var(--cp-color-ui-success);
		}
	}
	
	label {
		position: relative;
		display: block;
		margin: var(--cp-gap--sm) auto;
	}
	
	input, textarea {
		display: block;
		width: 100%;
		padding: var(--cp-gap--sm);
		border: 1px solid var(--cp-color-ui-secondary);
		background-color: white;
	}

	input:disabled, textarea:disabled {
		opacity: .6;
	}

	.cp-button {
		@extend .cp-button;
	}

	.cp-button:hover {
		background-color: var(--cp-button--bg--hover);
	}
	
	input[type=submit] {
		margin-top: var(--cp-gap--sm);		
		padding: var(--cp-button--padding);
	}

	.cp-group-single {
		&--title {
			font-size: min(3.75vw, var(--cp-font-size-h5)) !important;
		}
		
		&--leader {
			margin: var(--cp-gap-base) 0 0;
		}
		
		&--meta {
			margin: var(--cp-gap-base) 0;
		}
		
		&--content:last-child {
			p:last-child {
				margin-bottom: 0;
			}
		}
	}

	.ui-dialog-titlebar {
		height: 0;
		display: block;
	}
	
	.ui-dialog-titlebar-close {
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='33px' version='1.1' viewBox='0 0 33 33' width='33px' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle/%3E%3Cdesc/%3E%3Cg fill='none' fill-rule='evenodd' id='stroke-4px' stroke='none' stroke-width='1'%3E%3Cg fill='%23000000' id='The-Icons' transform='translate(-256.000000, -3708.000000)'%3E%3Cg id='9.12' transform='translate(248.000000, 3700.000000)'%3E%3Cg id='Combined-Shape'%3E%3Cpath d='M26.9737493,24.1431645 L39.6996371,11.4187238 C40.4818344,10.6366155 40.4842562,9.36786393 39.7031188,8.58681534 C38.9165355,7.80032143 37.6539486,7.80732541 36.8708883,8.59029667 L24.1450005,21.3147374 L11.4191126,8.59029667 C10.6369153,7.80818833 9.36801949,7.80576676 8.58688208,8.58681534 C7.80029872,9.37330926 7.80730349,10.6357525 8.59036381,11.4187238 L21.3162517,24.1431645 L8.59036381,36.8676053 C7.80816651,37.6497136 7.80574467,38.9184651 8.58688208,39.6995137 C9.37346544,40.4860076 10.6360523,40.4790037 11.4191126,39.6960324 L24.1450005,26.9715917 L36.8708883,39.6960324 C37.6530856,40.4781407 38.9219814,40.4805623 39.7031188,39.6995137 C40.4897022,38.9130198 40.4826974,37.6505765 39.6996371,36.8676053 L26.9737493,24.1431645 L26.9737493,24.1431645 Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		background-color: transparent;
		background-size: contain;
		background-repeat: no-repeat;
		color: transparent;
		cursor: pointer;
		font-size: 0;
		border: 0;
		position: absolute;
		right: var(--cp-gap--sm);
		top: var(--cp-gap--sm);
		width: 1rem;
		height: 1rem;
		z-index: 9999;
		padding: 0;

		span {
			display: none;
		}

		//&:before {
		//	content: 'x';
		//	color: black;
		//}
	}
}

.cp-staff-department-heading {
	margin-bottom: 0;
}

.cp-staff-archive--title-wrapper {
	padding-top: var(--cp-gap--lg);
	padding-bottom: var(--cp-gap--lg);
}

.cp-staff-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(var(--cp-gap-base) * 28), 1fr));
	grid-gap: var(--cp-gap--md);
	padding-top: var(--cp-gap--md);
	padding-bottom: var(--cp-gap--md);
	margin-bottom: var(--cp-gap--lg);
}

.cp-staff-card {
	&--image-wrapper {
		position: relative;
		overflow: hidden;
		aspect-ratio: 3 / 4;
	}

	&--image {
		width: 100%;
		height:	100%;
		object-fit: cover;
	}

	&--image-overlay {
		position: absolute;
		inset: 0;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0 60%, rgba(0, 0, 0, .5));
		display: flex;
		align-items: end;
		justify-content: start;
		padding: var(--cp-gap--md);
		pointer-events: none;
	}

	&--social-links {
		align-self: end;
		display: flex;
		flex-wrap: wrap;
		gap: var(--cp-gap--sm);
	}

	&--name, &--role, &--name-link {
		color: var(--cp-color-text-primary);
	}

	a.cp-staff-card--name-link {
		text-decoration: none;
	}

	.cp-staff-card--name {
		margin-top: var(--cp-gap--sm);
		margin-bottom: 0;
	}

	.cp-staff-card--role {
		font-size: var(--cp-font-size-sm);
	}

	
}

.cp-staff--action-icon {
	color: var(--cp-color-canvas-main);
	padding: 1em;
	border-radius: 100px;
	aspect-ratio: 1;
	background-color: var(--cp-color-ui-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	.feather, .cp-icon {
		width: 1.6em;
		height: 1.6em;
	}
	cursor: pointer;
	pointer-events: all;

	&:hover {
		background-color: var(--cp-color-ui-secondary);
		color: var(--cp-color-canvas-main);
	}

	&:focus {
		outline: none;
		color: var(--cp-color-canvas-main);
	}
}

.cp-staff-single--social-links .cp-staff--action-icon {
	margin: -1rem; // no padding around mail button

	& + .cp-staff-single--social-link {
		margin-left: 1rem; // space between mail and social links
	}
}

.cp-staff-info-modal--popup {
	background: #f5f5fa;
	padding: var(--cp-gap--lg);
	z-index: 9999;
	max-height: 90%;
	position: fixed !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%);
	overflow-y: auto;

	.cp-staff-single {
		margin: 0;
	}

	.ui-dialog-titlebar {
		display: none;
	}

	.cp-staff-info-modal--close-btn {
		position: absolute;
		top: var(--cp-gap--sm);
		right: var(--cp-gap--sm);
		cursor: pointer;
		color: var(--cp-color-canvas-inverted);
		font-size: 1.5em;
	}
}

.cp-staff-single {
	margin-top: var(--cp-gap--lg);
	margin-bottom: var(--cp-gap--lg);

	&--name {
		display: inline-block;
		margin: 0 0 var(--cp-gap--sm);
	}

	&--role {
		font-weight: bold;
		font-size: var(--cp-font-size-lg);
		margin-bottom: var(--cp-gap--sm);
	}

	&--image-wrapper {
		margin-bottom: var(--cp-gap--md);
	}

	&--social-links {
		display: flex;
		gap: var(--cp-gap--sm);
		margin-top: var(--cp-gap--md);
		align-items: center;
		padding: 1rem;
		background-color: var(--cp-color-canvas-main);
		border-radius: 999px;
		max-width: fit-content;
	}

	&--social-link {
		color: var(--cp-color-text-primary);
		width: 1.5rem;
		height: 1.5rem;
	}

	@media(min-width: 768px) {
		&--image-wrapper {
			max-width: 50%;
			float: right;
			margin-left: var(--cp-gap--md);
			img {
				max-width: 100%;
			}
		}
	}
}
