

:root {
	--cp-gap--md: 1.3rem;
	--cp-gap--sm: .7rem;
	--cp-gap--lg: 2.5rem;
	--cp-color-ui-secondary: #40403F;
	--cp-content-width: 70rem;
	--cp-content-padding: var(--cp-gap--lg);
	--cp-color-text-primary: #333333;
}